@model POSONE.Model.Models.Articulo

@{
    ViewBag.Title = "Modificacion de Articulo";
}


<h2>Modificacion de Articulo</h2>

<div>
    <div>    
        @Html.LabelFor(model => model.Id)
        @Html.DisplayFor(model => model.Id)
    </div>
    <div>    
        @Html.LabelFor(model => model.Descripcion)
        @Html.EditorFor(model => model.Descripcion)
    </div>

    <div>    
        @Html.LabelFor(model => model.DescripcionLarga)
        @Html.EditorFor(model => model.DescripcionLarga)
    </div>

    <div>    
        @Html.LabelFor(model => model.Categoria)
        @Html.EditorFor(model => model.Categoria)
    </div>

    <div>    
        @Html.LabelFor(model => model.Costo)
        @Html.EditorFor(model => model.Costo)
    </div>

      <div>    
        @Html.LabelFor(model => model.Precio)
        @Html.EditorFor(model => model.Precio)
    </div>

      <div>    
        @Html.LabelFor(model => model.Precio1)
        @Html.EditorFor(model => model.Precio1)
    </div>

     <div>    
        @Html.LabelFor(model => model.IsvTipo)
        @Html.EditorFor(model => model.IsvTipo)
    </div>

    <div>    
        @Html.LabelFor(model => model.Isvincluido)
        @Html.EditorFor(model => model.Isvincluido)
    </div>

    <div>    
        @Html.LabelFor(model => model.CantidadMayoreo)
        @Html.EditorFor(model => model.CantidadMayoreo)
    </div>

    <div>    
        @Html.LabelFor(model => model.Cantidad)
        @Html.EditorFor(model => model.Cantidad)
    </div>

    <div>    
        @Html.LabelFor(model => model.Descontinuado)
        @Html.EditorFor(model => model.Descontinuado)
    </div>


</div>

@Html.ActionLink("Listado Productos", "Index") 