@model POSONE.Web.ViewModels.ArticuloViewModel

@{
    ViewBag.Title = "Modificacion de Articulo";
}


<h2>Creacion de Articulo</h2>

<form>
     <div class="form-group">    
        @Html.LabelFor(m => m.Id)
        @Html.TextBoxFor(m => m.Id, new {@class = "form-control"})
    </div>

    <div class="form-group">    
        @Html.LabelFor(m => m.Descripcion)
        @Html.TextBoxFor(m => m.Descripcion, new {@class = "form-control"})
    </div>

    <div class="form-group">    
        @Html.LabelFor(m => m.DescripcionLarga)
        @Html.TextBoxFor(m => m.DescripcionLarga, new {@class = "form-control"})
    </div>

     <div class="form-group">    
        @Html.LabelFor(m => m.MarcaId)
        @Html.DropDownListFor(m=> m.MarcaId, new SelectList(Model.Marcas,"Id","Nombre"),"",new {@class="form-control"})
    </div>

    <div class="form-group">    
        @Html.LabelFor(m => m.Umid)
        @Html.DropDownListFor(m => m.Umid, new SelectList(Model.UnidadesMedida, "Id","Codigo"),"",new {@class = "form-control"})
    </div>


    <div class="form-group">    
        @Html.LabelFor(m => m.CategoriaId)
        @Html.DropDownListFor(m => m.CategoriaId, new SelectList(Model.Categorias, "Id","Nombre"),"",new {@class = "form-control"})
    </div>


     <div class="form-group">    
        @Html.LabelFor(m => m.TipoId)
        @Html.DropDownListFor(m=> m.TipoId, new SelectList(Model.Tipos,"Id","Nombre"),"",new {@class="form-control"})
    </div>

      <div class="form-group">    
        @Html.LabelFor(m => m.IsvId)
        @Html.DropDownListFor(m=> m.IsvId, new SelectList(Model.Isvs, "Id","Nombre"),"",new {@class="form-control"})
    </div>

    <div class="form-group">
        @Html.LabelFor(m=> m.IncluyeImpuesto)
        @Html.CheckBoxFor(m=> m.IncluyeImpuesto)
    </div>

     <div class="form-group">    
        @Html.LabelFor(m => m.CostoPromedio)
        @Html.TextBoxFor(m => m.CostoPromedio, new {@class = "form-control"})
    </div>

     <div class="form-group">    
        @Html.LabelFor(m => m.PrecioVenta)
        @Html.TextBoxFor(m => m.PrecioVenta, new {@class = "form-control"})
    </div>

     <div class="form-group">
        @Html.LabelFor(m=> m.Activo)
        @Html.CheckBoxFor(m=> m.Activo)
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>



@Html.ActionLink("Listado de Articulos", "Index") 