@model POSONE.Model.Entities.Articulo

@{
    ViewBag.Title = "Detalle de Articulo";
}


<h2>Detalle de Articulo</h2>

@Html.ActionLink("Editar", "Edit",new {id=Model.Id}) 

<div>
    <div>    
        @Html.LabelFor(model => model.Id)
        @Html.DisplayFor(model => model.Id)
    </div>
    <div>    
        @Html.LabelFor(model => model.Descripcion)
        @Html.DisplayFor(model => model.Descripcion)
    </div>

</div>

@Html.ActionLink("Listado de Articulos", "Index") 