@model POSONE.Model.Entities.Articulo

@{
    ViewBag.Title = "Modificacion de Articulo";
}


<h2>Modificacion de Articulo</h2>

<div>
    <div>    
        @Html.LabelFor(model => model.Id)
        @Html.DisplayFor(model => model.Id)
    </div>
    <div>    
        @Html.LabelFor(model => model.Descripcion)
        @Html.EditorFor(model => model.Descripcion)
    </div>
</div>

@Html.ActionLink("Listado de Articulos", "Index") 