@using POSONE.Model
@using System.Collections.Generic

@model IList<POSONE.Model.Entities.Articulo>

@{
        ViewBag.Title = "Item List";
}


<h2>Listado de Articulos</h2>

@Html.ActionLink("Crear Articulo", "Create") 
<table class="table table-hover table-bordered" >
        <thead>
                <th>Articulo Id</th>
                <th>Articulo</th>
                <th>Cantidad</th>
                <th>Action</th>
        </theader>


<tbody>
@foreach(var item in Model)
{
    <tr>
         <td>@item.Id</td>
         <td>@Html.ActionLink(item.DescripcionLarga, "Detail", new { id=item.Id }) </td>
         <td>@item.CostoPromedio</td>
         <td>
              @Html.ActionLink("Detalle", "Detail", new { id=item.Id }) |    
              @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
         </td>
    </tr>
}
</tbody>

</table>
