@using POSONE.Model
@using System.Collections.Generic

@model IList<POSONE.Model.Models.Articulo>

@{
        ViewBag.Title = "Item List";
}
<h2>Product List</h2>

<table style="width:100%">
<tr>
        <th>Id</th>
        <th>Articulo</th>
        <th>Cantidad</th>
        <th>Action</th>
</tr>
@Html.ActionLink("Crear Articulo", "Edit") 

@foreach(var item in Model)
{
        <tr>
                <td>@item.ArticuloId</td>
                <td>@Html.ActionLink(item.Descripcion, "Detail", new { id=item.ArticuloId }) </td>
                <td>@item.Cantidad</td>
                <td>
                    @Html.ActionLink("Detalle", "Detail", new { id=item.ArticuloId }) |    
                    @Html.ActionLink("Eliminar", "Delete", new { id=item.ArticuloId })
                </td>
        </tr>
}


</table>
