@model POSONE.Model.Entities.Tipo

@{
    ViewBag.Title = "Editat Tipo de Articulos";
}

<h2>Editar Tipo de Articulo</h2>


@using (Html.BeginForm("Edit","Tipo"))
{
    <div class="form-group">
        @Html.LabelFor(m=> m.Id)
        @Html.DisplayFor(m=> m.Id)
    </div>

    <div class="form-group">
        @Html.LabelFor(m=> m.Nombre)
        @Html.TextBoxFor(m=> m.Nombre,new {@class="form-control", autofocus="autofocus"})
        @Html.ValidationMessageFor(m=>m.Nombre)
    </div>

    <button type="submit" class="btn btn-primary" >Guardar</button>
}

@Html.ActionLink("Lista Tipos de Articulos","Index")